	*{
			margin: 0px;
		}
		@media(min-width: 992px){
			div{
				display: inline-block;

			}
		}
		@media(min-width: 768px) and (max-width: 991px){
			.pop, .popp{
				display: inline-block;

			}
			.poppp{
				margin-left: auto;
				margin-right: auto;
width: auto;			}
			
		}
		@media(max-width: 767px){
			div{
				margin-left: auto;
				margin-right: auto;

			}
		}
		body{
			color: black;
			background-color: black;
			font-size: 25px;
			
		}
		
		h1.pop1{
			width: 70px;
			height: 20px;
			text-align: right;
			background-color: darkred;
			position: relative;
			top: 0px;
			margin-left: auto;
			font-size: 150%;
			border-width: 1px;
			border-color: black;
			border-style: solid;
			margin-bottom: 8px;
		}
		div.pop{
			background-color: red;
			width: 26%;
			height: 15%;
			border-width: 5px;
			border-color: grey;
			border-style: solid;
			font-size: 50%;
			margin-bottom: 10px;
			margin-left: 10px;
			margin-right: 10px;
			padding-left: 8px;
			padding-bottom: 8px;
		}
		h1.pop2{
			width: 70px;
			height: 20px;
			text-align: right;
			background-color: skyblue;
			position: relative;
			top: 0px;
			margin-left: auto;
			font-size: 150%;
			border-width: 1px;
			border-color: black;
			border-style: solid;
			margin-bottom: 8px;

		}
		div.popp{
			background-color: lightblue;
			width: 26%;
			height: 15%;
			border-width: 5px;
			border-color: grey;
			border-style: solid;
			font-size: 50%;
			margin-bottom: 10px;
			padding-left: 8px;
			padding-bottom: 8px;
			margin-left: 10px;
			margin-right: 10px;
		}
		h1.pop3{
			width: 70px;
			height: 20px;
			text-align: right;
			background-color: darkblue;
			position: relative;
			top: 0px;
			margin-left: auto;
			font-size: 150%;
			border-width: 1px;
			border-color: black;
			border-style: solid;
			margin-bottom: 8px;

		}
		div.poppp{
			background-color: blue;
			width: 26%;
			border-width: 5px;			
			height: 15%;
			border-color: grey;
			border-style: solid;
			font-size: 50%;
			margin-bottom: 10px;
			padding-left: 8px;
			padding-bottom: 8px;
			margin-left: 10px;
			margin-right: 10px;
		}
		h1.hey{
			text-align: center;
			padding-bottom: 20px;
			color: white;
		}